/* Write your CSS here */
.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 45px;
}
.para {
  font-family: 'Roboto';
  font-weight: 500;
  color: #475569;
}
.bg-container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin: 40px;
  max-width: 1210px;
}
.img-and-input-container {
  display: flex;
  flex-direction: column;
}
.input-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 786px) {
  .img-and-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .image {
    order: 1;
  }
}
.image {
  height: 300px;
  width: 350px;
}
.name-input {
  width: 300px;
  height: 30px;
  border: 2px solid #cbd2d9;
  border-radius: 3px;
  margin-bottom: 15px;
  font-family: 'Roboto';
}
.area-text {
  border: 2px solid #cbd2d9;
  border-radius: 3px;
  margin-bottom: 15px;
  height: 150px;
  width: 300px;
  font-family: 'Roboto';
}
.btn {
  height: 30px;
  width: 110px;
  border-radius: 5px;
  color: #cbd2d9;
  background-color: #0284c7;
  border: 1px;
}
.line {
  width: 100%;
}
.comments {
  display: flex;
  justify-content: flex-start;
  height: 30px;
  width: 150px;
  font-family: 'Roboto';
}
.num-comments {
  background-color: #0b69ff;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
