.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.list-items {
  list-style-type: none;
}
.comments-container {
  display: flex;
}
.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 32px;
  width: 32px;
  margin-top: 18px;
  margin-right: 8px;
  flex-shrink: 0;
  margin-top: 30px;
}
.initial {
  color: #ffffff;
}
.name-time {
  display: flex;
  justify-content: flex-start;
  margin-top: 18px;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.button {
  background-color: transparent;
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}
.active {
  color: #0ea5e9;
}
.name {
  font-family: 'Roboto';
  font-weight: 500;
  margin-right: 18px;
}
.time {
  font-family: 'Roboto';
}
.text {
  font-family: 'Roboto';
  margin-left: 40px;
  color: #7e858e;
  font-weight: 500;
}
.delete {
  height: 20px;
  width: 20px;
}
